.container-god{
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 100vh;
    border: #1d60a3;
    border-radius: 5px;
    justify-content: space-between;
}

.container-rss{
    display: flex;
    flex-direction: column;
    border: #1d60a3;
    border-radius: 5px;
    width: 25vw;
    height: 25vh;
}